<div class="container-fluid bg-light mt-20 g-3">
  <h3 class="text-primary mx-3">My App</h3>
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse show" id="navbarNav">
        <ul class="navbar-nav d-flex flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="dashboard" routerLinkActive="active">DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="posts" routerLinkActive="active">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="albums" routerLinkActive="active">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="photos" routerLinkActive="active">Photos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>


